@model AddEditMetronic8.Areas.LOC_Country.Models.LOC_CountryModel


@* <form method="post" asp-controller="LOC_Country" asp-action="Search">
    <div class="row">
        <div class="col-4">
            <input type="search" name="CountryName" asp-for="CountryName" class="form-control" placeholder="Country Name">
        </div>
    </div>

    <div class="mt-3">
        <button type="submit" class="btn btn-primary fw-bold">Search</button>
        <a class="btn btn-secondary fw-bold" style="margin-left:7px" asp-controller="LOC_Country" asp-action="Cancel">Clear</a>
    </div>
</form> *@
<!--begin::Main-->
<div class="app-main flex-column flex-row-fluid" id="kt_app_main">
	<!--begin::Content wrapper-->
	<div class="d-flex flex-column flex-column-fluid">
		<!--begin::Content-->
		<div id="kt_app_content" class="app-content flex-column-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div id="kt_app_content_container" class="app-container container-xxl">
						<!--begin::Products-->
						<div class="card card-flush">
							<!--begin::Card header-->
							<div class="card-header align-items-center py-5 gap-2 gap-md-5">
								<!--begin::Card title-->

								<div class="col mt-3" style="font-family:'Bahnschrift';font-size:x-large">
									<div class="row">
										<div class="col-md-10">
											<h3>Country List</h3>
										</div>
										<div class="col-md-2">
											<a asp-controller="LOC_Country" asp-action="Add" class="btn btn-success">Add</a>
										</div>
									</div>
									<hr />

									<div class="row">
										<div class="justify-content-evenly">
											<form method="post" asp-controller="LOC_Country" asp-action="Filter">
												<div class="row">
													<div class="col-md-6">
														<input type="search" asp-for="CountryName" name="CountryName" class="form-control" placeholder="Enter Country Name">
													</div>
													<div class="col-md-1">
														<button type="submit" class="btn btn-dark mx-auto" asp-controller="LOC_Country" asp-action="Filter">Search</button>
													</div>
													<div class="col-md-1">
														<a class="btn btn-light" asp-controller="LOC_Country" asp-action="SelectAll">Clear</a>
													</div>
												</div>
											</form>
										</div>
									</div>

								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
